.strikePrice{
    text-decoration: line-through;
    font-style: italic;
    font-size: 20px;
    display: inline-block;
    text-indent: 20px;
    color: grey;
  }

.retailPrice{
    font-style: normal;
    font-size: 25px;
    font-weight: bold;
    text-indent: 5px;
    color: green;
    display: inline-block;
    
}

.priceContainer{
    display: inline-block;
    padding-left: 3%;
}

.priceLabel{
    display: inline-block;
}

.discount{
    text-indent: 20px;
    color: green;
    font-size: 17px;
    display: inline-block;

}